################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/**/bin
/**/obj
/ExpressApp/node_modules
/protobuf-3.19.3
/Message.cs
terraform/.terraform.lock.hcl
terraform/.terraform/*
terraform/out.plan
terraform-provision/out.plan
